
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*TOP*/

.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;    
    height:10vh;
    background-color:blue;
    position:fixed;
    width:100%;
    z-index: 100;
}

.top ul{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:10vh;
}

.top li{
    height:100%;
    margin:0px 34px;
    box-sizing: 0px 30px;
}

.top a{
    height:100%;  
    display:flex;
    align-items: center;
    text-decoration: none;

}


/*SLIDEOUT*/

.slideout{
    display:none;
    flex-direction:column;
    align-items: center;
    height:20vh;
    background-color:yellow;
    width:100%;
    position:absolute;
    top:10vh;

}

.slideout li{
    margin: 20px 0px;
}

.slideout a{
    height:100%;  
    display:flex;
    text-decoration: none;
    justify-content: center;
    width:100%;
}

/*slide*/

#slider {
    overflow: hidden;
    position:relative;
    top:10vh;
    width:80%;
    margin:0px 10%;
    z-index: -1;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    35% {
        left: -100%;
    }
    65% {
        left: -100%;
    }
    70% {
        left: -200%;
    }
    100% {
        left: -200%;
    }

    
}
